<header>
  <nav aria-label="Top Menu">
    <a href="{{ "/" | relative_url }}"><img width="84" height="45" src="{{ "/assets/images/embulk-logo.svg" | relative_url }}"/></a>
    <h1><a href="{{ "/" | relative_url }}">embulk</a></h1>
    <ul class="menu">
      <li><a href="{{ "/docs/" | relative_url }}">Docs</a></li>
      <li><a href="{{ "/articles/" | relative_url }}">Articles</a></li>
      <!-- <li><a href="{{ "/recipes/" | relative_url }}">Recipes</a></li> -->
      <li><a href="https://plugins.embulk.org/">Plugins</a></li>
      <!-- <li>Developers (TBA)</li> -->
      <li><a href="https://github.com/embulk/">GitHub</a></li>
    </ul>
  </nav>
</header>
