@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
    margin: 0;
    padding: 0;
    top: 0;
    background-color: #ffffff;
    font-family: sans-serif;
}

header {
    display: flex;
    margin: 0;
    padding: 0.5rem;
    top: 0;
    overflow: hidden;
    background-color: #ffeedd;
    border-bottom: solid 1px #cc9966;
}

header div#logo-title {
    margin: 0;
    padding: 0;
    top: 0;
    white-space: nowrap;
}

header div#logo-title img#embulk-logo {
    margin: 0 0 6px 4px;
    padding: 0;
    top: 0;
    width: 5.6rem;
    height: 3.2rem;
    vertical-align: top;
}

header div#logo-title h1#embulk-title {
    display: inline;
    margin: 0;
    padding: 0;
    top: 0;
    vertical-align: bottom;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

header div#logo-title h1#embulk-title a {
    color: #222222;
    text-decoration: none;
}

header div#logo-title h1#embulk-title a:hover {
    text-decoration: underline;
}

header div#top-menu {
    margin: auto 0 0 auto;
    padding: 0;
    top: 0;
}

header div#top-menu nav#top-navigation {
    margin: 0;
    padding: 0;
}

header div#top-menu nav#top-navigation ul {
    margin: 0;
    padding: 0;
}

header div#top-menu nav#top-navigation ul li {
    display: inline;
    text-decoration: none;
    padding: 0 1rem !important;
}

header div#top-menu nav#top-navigation ul li a {
    color: #666666;
    text-decoration: none;
}

header div#top-menu nav#top-navigation ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 2rem 0 0 0;
    color: #333333;
}

main a {
    text-decoration: none;
    color: #993300;
}

main a:hover {
    text-decoration: underline;
    color: #cc3300;
}

footer {
    margin: 0;
    padding: 1rem;
    bottom: 0;
    background-color: #999999;
    border-top: solid 1px #666666;
}

footer p.copyright {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 0.8rem;
}
