@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    color: #666666;
}

header {
    background-color: #eeeeee;
    position: -webkit-sticky;
    position: sticky;
    padding: 0.5em;
    margin-bottom: 3em;
    border-bottom: solid 1px #cccccc;
    top: 0;
}

header nav h1 {
    display: inline;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

header nav h1 span.embulk {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

header nav h1 span.subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

header nav h1 span.embulk a {
    color: #000000;
    text-decoration: none;
}

header nav h1 span.subtitle a {
    color: #333333;
    text-decoration: none;
}

header nav h1 span.embulk a:hover {
    text-decoration: underline;
}

header nav h1 span.subtitle a:hover {
    text-decoration: underline;
}

header nav ul {
    float: right;
}

header nav ul li {
    display: inline;
    text-decoration: none;
    padding: 0 10px !important;
}

header nav ul li a {
    color: #666666;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: #dc3c01;
}

main a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #892601;
}

main a:hover, a:active {
    font-weight: bold;
    text-decoration: underline;
    color: #ff4500;
}

footer {
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border-top: solid 1px #cccccc;
}

footer > p.copyright {
    text-align: center;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
}
