@import url("./embulk.css");

span.collation {
    font-size: 90%;
    font-weight: normal;
}

div.content {
    margin-left: 1em;
}

p > code {
    font-family: 'Roboto Mono', monospace;
    background-color: #f7f7f7;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #333333;
}

pre {
    background-color: #eeeeee;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow-x: auto;
}

pre > code {
    font-family: 'Roboto Mono', monospace;
    line-height: 180%;
    color: black;
}

table {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    margin-left: 2em;
    border-collapse:  collapse;
}

table th {
    font-weight: bold;
    text-align: left;
    border-bottom: solid 2px;
    padding-right: 1em;
}

table td {
    border-bottom: solid 1px;
    padding-right: 1em;
}

aside.note {
    -webkit-border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: dotted;
    border-width: thin;
    border-color: #dcdcdc;
    background-color: #e4ffde;
}

aside.note > h4 {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

aside.note > p {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

aside.hint {
    -webkit-border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: dotted;
    border-width: thin;
    border-color: #dcdcdc;
    background-color: #ffffcc;
}

aside.hint > h4 {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

aside.hint > p {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

iframe#slideshare {
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    max-width: 100%;
}

body#home main section#summary {
    padding-top: 1em;
    padding-bottom: 3.5em;
    color: black;
    text-align: center;
}

body#home main section#summary blockquote#summary-block div.summary-main {
    font-weight: bold;
    font-size: 24px;

    margin: 0.5em 1em 0.5em 1em;
}

body#home main section#summary blockquote#summary-block div.summary-aside {
    font-weight: italic;
    font-size: 18px;

    text-align: right;

    margin: 0.5em 7% 0.5em auto;
}

body#home main section#summary hr {
    margin-top: 2em;
    width: 100px;
    background-color: black;
    border: none;
    height: 2px;
    color: black;
}

body#home main div.two-columns section {
    margin-bottom: 3em;
}

body#home main hr#before-abstract {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

body#home main hr#after-abstract {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media screen and (min-width: 601px) {
    div.two-columns {
        display: -webkit-flex;
        display: flex;
    }

    div.two-columns > div.left {
        width: 50%;
        min-width: 0;
    }

    div.two-columns > div.right {
        width: 50%;
        min-width: 0;
    }

    body#home main hr#before-abstract {
        margin-top: 4em;
        margin-bottom: 4em;
    }

    body#home main hr#after-abstract {
        display: none;
    }
}

div.two-columns > div.left, div.right {
    margin-left: 3em;
    margin-right: 3em;
}

body#home main section#abstract ul > li {
    line-height: 150%;
}

ul.posts {
    line-height: 180%;
}
