@import url("./embulk.css");

span.collation {
    font-size: 90%;
    font-weight: normal;
}

div.content {
    margin-left: 1em;
}

p > code {
    font-family: 'Roboto Mono', monospace;
    background-color: #f7f7f7;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #333333;
}

pre {
    background-color: #eeeeee;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow-x: auto;
}

pre > code {
    font-family: 'Roboto Mono', monospace;
    line-height: 180%;
    color: black;
}

table {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    margin-left: 2em;
    border-collapse:  collapse;
}

table th {
    font-weight: bold;
    text-align: left;
    border-bottom: solid 2px;
    padding-right: 1em;
}

table td {
    border-bottom: solid 1px;
    padding-right: 1em;
}

aside.note {
    -webkit-border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: dotted;
    border-width: thin;
    border-color: #dcdcdc;
    background-color: #e4ffde;
}

aside.note > h4 {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

aside.note > p {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

aside.hint {
    -webkit-border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: dotted;
    border-width: thin;
    border-color: #dcdcdc;
    background-color: #ffffcc;
}

aside.hint > h4 {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

aside.hint > p {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

iframe#slideshare {
    border: 1px solid #cccccc;
    margin-bottom: 5px;
    max-width: 100%;
}

main a {
    font-weight: bold;
    text-decoration: none;
    color: #dc3c01;
}

main a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #892601;
}

main a:hover, a:active {
    font-weight: bold;
    text-decoration: underline;
    color: #ff4500;
}

@media screen and (min-width: 601px) {
    div.two-columns {
        display: -webkit-flex;
        display: flex;
    }

    div.two-columns > div.left {
        width: 50%;
        min-width: 0;
    }

    div.two-columns > div.right {
        width: 50%;
        min-width: 0;
    }
}

div.two-columns > div.left, div.right {
    margin-left: 3em;
    margin-right: 3em;
}

body#page section {
    margin: 3em;
}

body#post main article {
    margin: 3em;
}

body#post main article h2 {
    font-size: 130%;
    padding-bottom: 3px;
    margin-bottom: 1em;
    border-bottom: solid 1px #cccccc;
}

ul.posts {
    line-height: 180%;
}

body#post main article section#collation {
    font-size: 90%;
    font-weight: normal;
    text-align: right;
}

body#post main article section#collation ul > li {
    list-style-image: none;
    list-style-type: none;
}

body#post main article section#collation a {
    color: #333333;
    font-weight: normal;
}
